html,body{
    color: teal;
    height: 500px;
}

p{
    font-size: 80px;
    text-align: center;
    background: url("https://wallpaperaccess.com/full/4415928.jpg");
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}