html,body{
    height: 500px;
    background-image: url("https://images.unsplash.com/photo-1521080755838-d2311117f767?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1924&q=80");
}

p{
    font-size: 40px;
    text-align: center;
    background: url("https://wallpaperaccess.com/full/4415928.jpg");
    background-size: 65%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}