html,body{
    color: aliceblue;
}
div{
    background-color: yellowgreen;
    height: 220px;
    width: 380px;
}
h1{
    font-size: 45px;
    font-weight: bold;
    background: url("https://img.freepik.com/free-vector/blank-blue-halftone-background_53876-114466.jpg?w=1380&t=st=1694434733~exp=1694435333~hmac=2e43a42f213e59917bf0a65c64cff7ddcb3f325002261244fab92689e65ba96d");
    background-position: center;
    background-size: 1000px;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}