html,body{
    background-color: yellowgreen;
    height: 300px;
    width: 150px;
}
h1{
    font-size: 45px;
    font-weight: bold;
    background: url("https://img.freepik.com/free-vector/dark-gradient-background-with-copy-space_53876-99548.jpg?w=1380&t=st=1694433266~exp=1694433866~hmac=b0c38b51c1cc8b6d88bd9132574a24625c541704e2ff950c01839dd23c809363");
    background-position: center;
    background-size: 1000px;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}