

.showcase{
    width: 100%;
    height: 100vh;
    position:relative;
}

    .showcase video{
        width:100%;
        height: 100%;
        position:absolute;
        top:0;
        left:0;
        object-fit:cover;
    }

            .title{
                width:100%;
                height:100%;
                background-color:white;
                font-size: 100px;
                color:black;
                mix-blend-mode:multiply ;           
        }

