html,body{

}

showcase{
    width: 100%;
    height: 100%;
    position:relative;
}

    showcase video{
        width:100%;
        height: 100%;
        position:absolute;
        top:0;
        left:0;
        object-fit: cover;
    }

            title{
                width:100%
                height:100%;
                background-color:black;
                font-size: 700px;
                color:white;
                mix-bend-mode:multiply ;           
        }

